:root {
  --white: #ffffff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --blue-disabled: #7194aa;
  --blue-opacity: #4ea8de33;

  --danger: #e25858;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--purple-dark);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
